.jumbotron {
  text-align: center;
  background: url("../images/space.jpg");
  height: 70vh;
  color: #fff;

}




#game {
  display:none;
}

a {
  text-decoration: none;
  display: block;
  margin-top: 25px;
  color: #fff;
}

a:hover {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}

a:visited {
    color: #fff;
    text-decoration: none;
}
